<div class="container m-7">
    <div class="card bg-dark">
        <div class="card-body">
          <h5 class="card-title text-light">About Me</h5>
          <p class="card-text text-light">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Veniam labore recusandae iure blanditiis. Temporibus dignissimos
            explicabo beatae vitae voluptate consequatur fugit blanditiis,
            delectus quo excepturi eius obcaecati numquam quas deleniti! Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Vitae perspiciatis
            velit tempora ullam accusantium modi libero in nostrum pariatur fugiat non,
            cumque voluptates laudantium numquam minima nemo eligendi recusandae mollitia?
            </p>
          <a href="#" class="btn btn-aqua fw-bold">Download CV</a>
        </div>
      </div>
</div>