<div class="container border border-black m-7 bg-dark text-white">
    <h3>Projects</h3>
    <div class="container d-flex">
        <div class="card m-5 card-style" style="width: 19rem; height: 15rem;">
            <div class="card-body d-flex flex-column justify-content-center">
              <h5 class="card-title text-center">Project 1</h5>
              <p class="card-text text-center">Some Text</p>
            </div>
        </div>
          
        <div class="card m-5 card-style" style="width: 19rem; height: 15rem;">
            <div class="card-body d-flex flex-column justify-content-center">
              <h5 class="card-title text-center">Project 1</h5>
              <p class="card-text text-center">Some Text</p>
            </div>
        </div>

        <div class="card m-5 card-style" style="width: 19rem; height: 15rem;">
            <div class="card-body d-flex flex-column justify-content-center">
              <h5 class="card-title text-center">Project 1</h5>
              <p class="card-text text-center">Some Text</p>
            </div>
        </div>
    </div>

    <div class="container d-flex">
        <div class="card m-5 card-style" style="width: 19rem; height: 15rem;">
            <div class="card-body d-flex flex-column justify-content-center">
              <h5 class="card-title text-center">Project 1</h5>
              <p class="card-text text-center">Some Text</p>
            </div>
        </div>
          
        <div class="card m-5 card-style" style="width: 19rem; height: 15rem;">
            <div class="card-body d-flex flex-column justify-content-center">
              <h5 class="card-title text-center">Project 1</h5>
              <p class="card-text text-center">Some Text</p>
            </div>
        </div>

        <div class="card m-5 card-style" style="width: 19rem; height: 15rem;">
            <div class="card-body d-flex flex-column justify-content-center">
              <h5 class="card-title text-center">Project 1</h5>
              <p class="card-text text-center">Some Text</p>
            </div>
        </div>
    </div>
</div>